{% extends 'html.twig' %}
{% block body %}
{% verbatim %}
<body ng-app="sprintBoard">
<div ng-controller="boardController">
    <div class="header">
        <div class="header-board-name">{{team.name}}</div>
        <div class="header-sprint-name-dropdown-wrapper" uib-dropdown on-toggle="toggled(open)">
        <div class="header-sprint-name-dropdown" uib-dropdown-toggle>{{sprint.name}}</div>
        <ul class="uib-dropdown-menu">
                <li ng-repeat="sprint in team.sprints">
                    <a ng-href="team/{{team.hash}}/{{sprint.id}}">{{ sprint.name }}</a>
                </li>
                <li>
                    <a href="" ng-click="addSprint()">Create new sprint</a>
                </li>
            </ul>
            </div>
        <div class="header-card-add" ng-click="addCard()">
            <div class="header-card-add-icon"></div>
            <div class="header-card-add-text">Add new card</div>
        </div>
    </div>
    <div class="content">
        <div class="card" ng-repeat="card in sprint.cards" ng-controller="cardController">
        <div class="card-title">{{ card.name }}</div>

        <div class="card-ellipsis-wrapper" uib-dropdown on-toggle="toggled(open)">
            <div class="card-ellipsis" uib-dropdown-toggle></div>
            <ul class="uib-dropdown-menu pull-right">
                <li>
                    <a href="" ng-click="renameCard()">Rename card</a>
                </li>
                <li>
                    <a href="" ng-click="deleteCard()">Delete card</a>
                </li>
            </ul>
        </div>

        <div class="card-tasks-container" ng-sortable="sortConfig">
            <div class="card-task clearfix" ng-class="{'card-task-is-done': task.is_done}" ng-repeat="task in card.tasks" ng-controller="taskController">
                <div class="card-task-checkmark" ng-click="markAsDone()"></div>
                <div class="card-task-ellipsis-wrapper" uib-dropdown on-toggle="toggled(open)">
                <div class="card-task-ellipsis" uib-dropdown-toggle></div>
                <ul class="uib-dropdown-menu pull-right">
                    <li>
                        <a href="" ng-click="renameTask()">Rename task</a>
                    </li>
                    <li>
                        <a href="" ng-click="deleteTask()">Delete task</a>
                    </li>
                </ul>
                </div>
            <div class="card-task-name">{{ task.name }}</div></div>
        </div>
        <div class="card-task card-task-add-new">
            <div class="card-task-add"></div>
            <div class="card-task-name card-task-name-add-new" ng-click="addTask()">Add new task</div>
        </div>
    </div>
</div>
</body>
</html>
{% endverbatim %}
{% endblock %}
