<html>
<head>
    <base href="{{ base_url() }}/">
    <title>{{ board.name }} - Sprintboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script>
        var API_ROOT = '{{ base_url() }}/api/';
        var BOARD_HASH = '{{ board.hash }}';
    </script>
    {% include 'favicons.twig' %}
</head>
{% verbatim %}
<body ng-app="sprintBoard">
<div ng-controller="boardController">
    <div class="header">
        <div class="header-board-name">{{board.name}}</div>
        <div class="header-card-add" ng-click="addCard()">
            <div class="header-card-add-icon"></div>
            <div class="header-card-add-text">Add new card</div>
        </div>
    </div>
    <div class="content">
        <div class="card" ng-repeat="card in board.cards" ng-controller="cardController">
        <div class="card-title">{{ card.name }}</div>
        <div class="card-tasks-container" ng-repeat="task in card.tasks | orderBy:'is_done'" ng-controller="taskController">
            <div class="card-task" ng-class="{'card-task-is-done': task.is_done}">
                <div class="card-task-checkmark" ng-click="markAsDone()"></div>
                <div class="card-task-ellipsis-wrapper" uib-dropdown on-toggle="toggled(open)">
                <div class="card-task-ellipsis" uib-dropdown-toggle></div>
                <ul class="uib-dropdown-menu pull-right">
                <li>
                  <a href="" ng-click="renameTask()">Rename task</a>
                  <a href="" ng-click="deleteTask()">Delete task</a>
                </li>
                </ul>
                </div>
            <div class="card-task-name">{{ task.name }}</div></div>
        </div>
        <div class="card-task card-task-add-new">
            <div class="card-task-add"></div>
            <div class="card-task-name card-task-name-add-new" ng-click="addTask()">Add new task</div>
        </div>
    </div>
</div>
</body>
</html>
{% endverbatim %}